<h1>Counter</h1>

<div class="container">
  <div class="row">
    <div class="col-lg-4 col-md-6">
      <div class="card">
        <img [src]="currentCount" class="card-img-top" [alt]="currentCount">
        <div class="card-body">
          <h5 class="card-title">{{ currentCount }}</h5>
          <p class="card-text">{{ currentCount }}</p>
          <a href="#" class="btn btn-primary">Ver mais</a>
        </div>
      </div>
    </div>
  </div>
</div>




<p aria-live="polite">Current count: <strong>{{ currentCount }}</strong></p>

<button class="btn btn-primary" (click)="incrementCounter()">Increment</button>
